<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Eletronica</display-name>
	<servlet>
		<description>
		</description>
		<display-name>CadastrarClienteServlet</display-name>
		<servlet-name>CadastrarClienteServlet</servlet-name>
		<servlet-class>
		view.CadastrarClienteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListarClienteServlet</display-name>
		<servlet-name>ListarClienteServlet</servlet-name>
		<servlet-class>
		view.ListarClienteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CadastrarAparelhoServlet</display-name>
		<servlet-name>CadastrarAparelhoServlet</servlet-name>
		<servlet-class>
		view.CadastrarAparelhoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListarAparelhoServlet</display-name>
		<servlet-name>ListarAparelhoServlet</servlet-name>
		<servlet-class>
		view.ListarAparelhoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditarClienteServlet</display-name>
		<servlet-name>EditarClienteServlet</servlet-name>
		<servlet-class>
		view.EditarClienteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditarAparelhoServlet</display-name>
		<servlet-name>EditarAparelhoServlet</servlet-name>
		<servlet-class>
		view.EditarAparelhoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BuscarClientesPorNomeServlet</display-name>
		<servlet-name>BuscarClientesPorNomeServlet</servlet-name>
		<servlet-class>
		view.BuscarClientesPorNomeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RemoverClienteServlet</display-name>
		<servlet-name>RemoverClienteServlet</servlet-name>
		<servlet-class>
		view.RemoverClienteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditarAparelho</display-name>
		<servlet-name>EditarAparelho</servlet-name>
		<servlet-class>
		view.EditarAparelho</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RemoverAparelhoServlet</display-name>
		<servlet-name>RemoverAparelhoServlet</servlet-name>
		<servlet-class>
		view.RemoverAparelhoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CadastrarClienteServlet</servlet-name>
		<url-pattern>/CadastrarClienteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListarClienteServlet</servlet-name>
		<url-pattern>/ListarClienteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CadastrarAparelhoServlet</servlet-name>
		<url-pattern>/CadastrarAparelhoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListarAparelhoServlet</servlet-name>
		<url-pattern>/ListarAparelhoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditarClienteServlet</servlet-name>
		<url-pattern>/EditarClienteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditarAparelhoServlet</servlet-name>
		<url-pattern>/EditarAparelhoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscarClientesPorNomeServlet</servlet-name>
		<url-pattern>/BuscarClientesPorNomeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoverClienteServlet</servlet-name>
		<url-pattern>/RemoverClienteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditarAparelho</servlet-name>
		<url-pattern>/EditarAparelho</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoverAparelhoServlet</servlet-name>
		<url-pattern>/RemoverAparelhoServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
